body {
    background-color: rgb(151, 149, 221);
    color: rgb(7, 7, 7);
    font-size: 24px;
}

#player1 {
    display: none;
}

#player2 {
    display: none;
}

.top {
    border-top: none;
    border-bottom: solid;
}

.bottom {
    border-top: solid;
    border-bottom: none;
}

.left {
    border-left: none;
    border-right: solid;
}

.right {
    border-left: solid;
    border-right: none;
}

table {
    table-layout: fixed;
    width: 300px;
    height: 300px;
    overflow: hidden;
    text-align: center;
}

td {
    width: 50px;
    height: 50px;
}

.startMatch {
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#9acdee;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
}
.startMatch:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.startMatch:active {
	position:relative;
	top:1px;
}
